# Backend API URL
NEXT_PUBLIC_API_URL=https://rotafi.onrender.com

# Soroban RPC endpoint
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org

# Network passphrase
NEXT_PUBLIC_NETWORK_PASSPHRASE=Test SDF Network ; September 2015

# Deployed contract addresses
NEXT_PUBLIC_CIRCLE_FACTORY_ADDRESS=CC2XL3M4FN3R2YLRGUKFWVQGWBTDQ6O4JZO66V6VGPY64QWCJBWHDSX6
NEXT_PUBLIC_CONTRIBUTION_VAULT_ADDRESS=CBIHUJSOA4GSVSLFENQRJAPFUUWHPR5DXIU6H3HEMQU4XQU5EJQHL4MO
NEXT_PUBLIC_REPUTATION_REGISTRY_ADDRESS=CDVS7X47ICQQGRR67K4FL7DAL3XB3FSSAWKXWF4RIKJVWEHTJ6AXJTUC
NEXT_PUBLIC_BID_ENGINE_ADDRESS=CD3OE7WPUSSM7ZR2552CVNZH2O5LHV52UKHSPR3VYVG63CWHUOXNDM6P
