# Soroban RPC endpoint
SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
NETWORK_PASSPHRASE=Test SDF Network ; September 2015

# Deployed contract addresses
CIRCLE_FACTORY_ADDRESS=CC2XL3M4FN3R2YLRGUKFWVQGWBTDQ6O4JZO66V6VGPY64QWCJBWHDSX6
CONTRIBUTION_VAULT_ADDRESS=CBIHUJSOA4GSVSLFENQRJAPFUUWHPR5DXIU6H3HEMQU4XQU5EJQHL4MO
REPUTATION_REGISTRY_ADDRESS=CDVS7X47ICQQGRR67K4FL7DAL3XB3FSSAWKXWF4RIKJVWEHTJ6AXJTUC
BID_ENGINE_ADDRESS=CD3OE7WPUSSM7ZR2552CVNZH2O5LHV52UKHSPR3VYVG63CWHUOXNDM6P

# Server
PORT=3000
NODE_ENV=development

# Rate limit
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=100
